html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Slab', serif;
}

.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
  height: 100%;
  width: 100%;
  background-image: url("./neon villa.jpg");
  background-size: cover;
  filter: blur(5px);
}

#quote-box {
  position: absolute;
  width: 100%;
  background-color: rgba(255,255,255,0.8);
}

.header {
  text-align: center;
  padding: 35px 35px 0 35px;
  font-size: 25px;
}

.header h1 {
  margin: 0;
}

.quote-container {
  max-width: 600px;
  margin: auto;
  padding: 35px;
  min-height: 150px;
  font-size: 20px;
  font-weight: bold;
}

.quote-container p {
  margin: 0;
  margin-bottom: 25px;
}

.buttons-container {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  padding: 35px;
}

button, a {
  width: 200px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: white;
  box-shadow: 3px 3px 3px gray;
  font-family: 'Josefin Slab', serif;
}

.buttons-container a {
  line-height: 40px;
}

button:hover, a:hover {
  box-shadow: inset 1px 1px 1px gray;
}

button:active, a:active {
  box-shadow: inset 3px 3px 3px gray;
}

button:focus, a:focus {
  outline: none;
}

@media screen and (max-width: 500px) {
  #new-quote {
    margin-right: 10px;
  } 
  
  #tweet-quote {
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px) {
  .buttons-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-height: 530px) {
  .buttons-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}